.auth__main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.auth__box-container {
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 2px 2px 5px 0px $dark-grey;
}

.auth__alert-error {
  text-align: center;
  color: $error;
  font-weight: bold;
}

