@use "../base/settings" as *;

.auth__main {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @media only screen and (max-width: 650px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: $primary;
  }
}
.auth__box-announcement {
  flex: 2;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  @media only screen and (max-width: 650px) {
    justify-content: start;
    padding-top: 5%;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 3rem;
    color: $white;
    @media only screen and (max-width: 850px) {
      display: none;
    }
  }
  &__lottie {
    height: 50%;
    width: 80%;
    @media only screen and (max-width: 650px) {
      width: 50%;
    }
    @media only screen and (max-width: 415px) {
      width: 60%;
    }
  }

  &__bio {
    position: absolute;
    bottom: 1%;
    color: $white;
    font-size: 12px;
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
}

.auth__box-container {
  z-index: 2;
  min-width: 400px;
  max-width: 600px;
  flex: 1;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.17);
  @media only screen and (max-width: 650px) {
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.17);
  }
  @media only screen and (max-width: 415px) {
    height: 65%;
  }
  @media only screen and (max-width: 365px) {
    height: 62%;
  }
}

.auth__alert-error {
  text-align: center;
  color: $error;
  font-weight: bold;
}
