@use "../base/settings" as *;

.empty__main-content {
  align-items: center;
  background-color: $primary;
  color: $white;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  p {
    text-align: center;
  }
}

.or-selector {
  color: $disabled-button;
}
