@use "../base/settings" as *;

.fab-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &__btn {
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  &__text {
    color: $primary;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.fab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(0.9);
    transition: filter 0.2s ease-in-out;
  }
}

.file-upload {
  display: none;
}

.delete-btn {
  padding: 0px;
}
