@use "sass:color";
@use "../base/settings" as *;

.journal__main-content {
  display: flex;
  height: 100%;
}

.journal__sidebar {
  background-color: $white;
  color: $primary;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px 10px;
  width: 550px;
  z-index: 3;
  -webkit-box-shadow: 4px 0px 9px -2px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 0px 9px -2px rgba(0, 0, 0, 0.7);
  @media only screen and (max-width: 650px) {
    position: absolute;
    width: 80%;
  }
}

.journal__sidebar-navbar {
  text-align: center;
  margin-top: 20px;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  flex-direction: column;
  &__add {
    transition: color 300ms ease-out;
    &:hover {
      transition: color 300ms ease-in;
      color: color.scale($white, $lightness: -10%);
    }
  }
}

.journal__entries {
  margin-top: 30px;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 10px;

  &__text {
    margin-bottom: 20px;
  }
}

.journal__entry {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: $primary;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: box-shadow 200ms ease-in;

  &:hover {
    // box-shadow: 0px 0px 7px 0px #e0e0e0;
    box-shadow: 0px 0px 0px 1px $primary;
    transition: box-shadow 200ms ease-out;
  }
}

.journal__attach {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 10px;

  &__text {
    margin-left: 5px;
    color: $primary;
  }
}

.journal__container {
  width: 100%;
}

.journal__entry-body {
  padding: 10px;
  color: rgb(62 62 62);
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}

.journal__entry-date {
  text-align: right;
  font-size: 14px;
  color: #9c9c9c;
  font-weight: 400;
}
.journal__entry-header {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.journal__entry-date h4 {
  font-size: 11px;
}

.logout-btn {
  background-color: $primary;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 0px;
  font-size: 16px;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: $primary-hover;
    transition: background-color 200ms ease-out;
  }
}

.logout-btn-secondary {
  background-color: transparent;
  border: 1px solid $primary;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px 0px;
  font-size: 16px;
  color: $primary;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: $primary;
    transition: background-color 200ms ease-out;
  }
}

.closebar-opener {
  cursor: pointer;
  background-color: $white;
  position: absolute;
  top: 50%;
  padding: 8px;
  border-radius: 0px 10px 10px 0px;
  z-index: 2;
  box-shadow: 4px 0px 9px -2px grey;
  transition: padding 100ms ease-in;
  &:hover {
    padding-left: 20px;
    transition: padding 100ms ease-in;
  }
}

.close {
  left: 100%;
}

.no-sidebar {
  display: none;
}
