.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $white;
  color: $primary;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px 10px;
  width: 450px;
  z-index: 2;
  -webkit-box-shadow: 4px 0px 9px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 0px 9px -2px rgba(0, 0, 0, 0.25);
}

.journal__sidebar-navbar {
  text-align: center;
  margin-top: 20px;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  flex-direction: column;
  transition: color 300ms ease-out;
  &:hover {
    transition: color 300ms ease-in;
    color: darken($color: white, $amount: 20);
  }
}

.journal__entries {
  margin-top: 30px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.journal__entry {
  background-color: $white;
  border-radius: 4px;
  color: $dark-grey;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.journal__entry-picture {
  height: 75px;
  width: 75px;
}

.journal__entry-body {
  padding: 10px;
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  font-size: 10px;
}

.journal__entry-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.journal__entry-date h4 {
  font-size: 11px;
}

.logout-btn {
  background-color: $primary;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 0px;
  transition: margin-bottom 200ms;
  &:hover {
    margin-bottom: 15px;
    transition: margin-bottom 200ms;
  }
}
