@use "../base/settings" as *;

.headers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.login-container {
  width: 80%;
  max-width: 600px;
  max-height: 800px;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $primary;
  @media only screen and (max-width: 650px) {
    padding-top: 20%;
  }
  @media only screen and (max-width: 415px) {
    padding-top: 30%;
  }
  @media only screen and (max-width: 365px) {
    padding-top: 45%;
  }
  @media only screen and (max-width: 320px) {
    padding-top: 65%;
  }
  &__header {
    margin-bottom: 8%;
    &__title {
      font-size: 2rem;
      margin-bottom: 10px;
      color: $black;
      @media only screen and (max-width: 320px) {
        font-size: 1.5rem;
      }
    }
    &__subheader {
      color: $disabled-button;
      @media only screen and (max-width: 320px) {
        font-size: 0.8rem;
      }
    }
  }
}

.auth-google {
  background-color: $white;
  border: 1px solid $soft-gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0px 2px $primary;
  }
  &:active {
    background: $button-active-blue;
  }

  .google-icon {
    margin: 0px 5px;
    width: 20px;
  }
}

.auth-separator {
  margin: 8% 0%;
  display: flex;
  justify-content: center;
  border-top: 1.5px solid $soft-gray;
  @media only screen and (max-width: 320px) {
    margin: 12% 0%;
  }
  span {
    margin-top: -14px;
    padding: 0px 25px;
    background-color: $white;
    color: $disabled-button;
    @media only screen and (max-width: 320px) {
      font-size: 0.8rem;
    }
  }
}

.input-container {
  border: 1px solid $soft-gray;
  padding: 15px 8px;
  border-radius: 10px;
  outline-color: $primary;
  width: 100%;

  &:hover {
    border: 1px solid $primary-hover;
  }
}

.textfield-container {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  label {
    color: $black;
    padding-left: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    b {
      color: $primary;
    }
  }
}

.auth-btn {
  margin-top: 10px;
  border: none;
  background-color: $primary;
  color: $white;
  padding: 15px 8px;
  border-radius: 10px;
  width: calc(100%);
  transition: background 200ms ease-in;
  letter-spacing: 1px;
  font-size: 16px;
  height: 49px;;

  &:hover {
    background-color: $primary-hover;
    transition: background 200ms ease-out;
  }
}

.footers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paragraph {
  margin: 10% 0px;
  color: $black;
  font-weight: 500;
  @media only screen and (max-width: 320px) {
    font-size: 0.8rem;
  }
  span {
    margin-right: 10px;
  }
  a {
    font-weight: bold;
  }
}
