@use "../base/settings" as *;

.notes__main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  height: 100vh;
}

.notes__main-content {
  display: flex;
  flex-direction: column;
  background-color: $white;
  height: 60%;
  width: 80%;
  border-radius: 10px;
}

.notes__appBar-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.9);
    transition: filter 0.2s ease-in-out;
  }
}

.notes__appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9c9c9c;
  border-radius: 10px;
  padding: 20px 40px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 40px 30px 40px;
}
.notes__title-input,
.notes__textarea {
  border: none;
  &:focus-visible {
    box-shadow: 0 0 0 2px $primary;
    outline: none;
    transition: box-shadow 0.1s ease-in-out;
  }

  &:hover {
    box-shadow: 0 0 0 2px $primary;
    transition: box-shadow 0.1s ease-in-out;
  }
}

.notes__title-input {
  color: $dark-grey;
  border-radius: 8px;
  box-shadow: 0 0 0 1px $light-grey;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.notes__textarea {
  padding: 20px;
  color: $dark-grey;
  font-size: 1.1rem;
  flex: 1 1 auto;
  resize: none;
  margin: 10px 0px 20px 0px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px $light-grey;
  transition: box-shadow 0.3s ease-in-out;
}

.notes__image {
  box-shadow: 3px 3px 8px 0px #b5b5b5;
  height: 150px;
  width: fit-content;
  width: -moz-fit-content;
}
