* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.pointer {
  cursor: pointer;
}
