@use "sass:color";
@use "./settings" as *;

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $white;
  font-size: 12px;
  padding: 7px 10px;
  transition: color 200ms ease-out;

  &:focus {
    outline: none;
  }
  &:hover {
    color: color.scale($white, $lightness: -10%);
    transition: color 200ms ease-in;
  }

  &:disabled {
    background-color: $disabled-button;
    transition: background-color 200ms ease-in;
  }
}

.btn-danger {
  background-color: red;
}
