//  Colors
$primary: #4f37ea;
$primary-hover: #3f2db3;
$primary-transparent: #4f37ea30;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$disabled-button: #a3a3a3;
$soft-gray: #dddddd;
$white: #fff;
$black: #2b2b2b;
$error: #e63946;
$google-blue: #4285f4;
$button-active-blue: #1669f2;